<!DOCTYPE html>
<html>
  <head>
    <title>Method name word data</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="container">
<table id="numbers"><thead><tr><th colspan="2">Number of words meeting various conditions</th></tr></thead>
<tr><td class="left">In only one method name:</td><td>13314</td></tr>
<tr><td class="left">Only in variation(s), not methods:</td><td>3247</td></tr>
<tr><td class="left">Only at name beginnings:</td><td>14723</td></tr>
<tr><td class="left">Only after at least one other word:</td><td>2529</td></tr>
<tr><td class="left">Occurs more than once in the same name:</td><td>28</td></tr>
<tr><td class="left">Includes punctuation:</td><td>758</td></tr>
<tr><td class="left">Includes digits:</td><td>94</td></tr>
</table>
<table id="stats">
<tr><td class="left">Longest word:</td><td><p>Taumatawhakatangihangakoauauotamateapokaiwhenuakitanatahu</p><p>Eellogofusciouhipoppokunurious</p><p>Supercalifragilisticexpialidocious</p><p>Supercalifragilisticexpialedocius</p><p>Pseudopseudohypoparathyroidism</p></td></tr>
<tr><td class="left">Word(s) appearing in the most methods:</td><td><p>St</p><p>Castle</p></td></tr>
<tr><td class="left">Max number of methods a single word appears in:</td><td>634</td></tr>
<tr><td class="left">Number of methods including 'Little':</td><td>100</td></tr>
<tr><td class="left">Number of methods with a class word in their name:</td><td>54</td></tr>
<tr><td class="left">Number of methods with a stage name in their name:</td><td>36</td></tr>
</table>
<div class="list-head">Words only appearing with apostrophe</div>
<div class="table"><table id="ap1" class="list">
<tr><td>Giants'</td></tr>
<tr><td>Boatman's</td></tr>
<tr><td>Weag's</td></tr>
<tr><td>Cathy's</td></tr>
<tr><td>Joe's</td></tr>
<tr><td>Flynn's</td></tr>
<tr><td>Anita's</td></tr>
<tr><td>Hoskin's</td></tr>
<tr><td>Sepulcre's</td></tr>
<tr><td>Dad's</td></tr>
<tr><td>Karen's</td></tr>
<tr><td>Bence's</td></tr>
<tr><td>Clement's</td></tr>
<tr><td>Nightlayer's</td></tr>
<tr><td>Annable's</td></tr>
<tr><td>Writer's</td></tr>
<tr><td>Froggatts'</td></tr>
<tr><td>Hankinson's</td></tr>
<tr><td>Mymble's</td></tr>
<tr><td>Tetley's</td></tr>
<tr><td>IWD's</td></tr>
<tr><td>Annie's</td></tr>
<tr><td>Decuman's</td></tr>
<tr><td>Roderick's</td></tr>
<tr><td>Hird's</td></tr>
<tr><td>Batt's</td></tr>
<tr><td>Bamber's</td></tr>
<tr><td>Lian's</td></tr>
<tr><td>Jacinda's</td></tr>
<tr><td>Merchants'</td></tr>
<tr><td>Tanner's</td></tr>
<tr><td>Flopper's</td></tr>
<tr><td>Julia's</td></tr>
<tr><td>Batten's</td></tr>
<tr><td>Youths'</td></tr>
<tr><td>Gillian's</td></tr>
<tr><td>Ringers'</td></tr>
<tr><td>Brothwell's</td></tr>
<tr><td>Navigators'</td></tr>
<tr><td>Mash's</td></tr>
<tr><td>Walsh's</td></tr>
<tr><td>Bene't's</td></tr>
<tr><td>Pam's</td></tr>
<tr><td>Archer's</td></tr>
<tr><td>Mike's</td></tr>
<tr><td>Irene's</td></tr>
<tr><td>Grasshoppers'</td></tr>
<tr><td>Half-Sharp's</td></tr>
<tr><td>Physiotherapists'</td></tr>
<tr><td>Scholars'</td></tr>
<tr><td>Noah's</td></tr>
<tr><td>Woodcock's</td></tr>
<tr><td>Syntax's</td></tr>
<tr><td>Clockmakers'</td></tr>
<tr><td>Paddy's</td></tr>
<tr><td>Wrenburys'</td></tr>
<tr><td>Nicholas'</td></tr>
<tr><td>Fool's</td></tr>
<tr><td>Penning's</td></tr>
<tr><td>Sottanstall's</td></tr>
<tr><td>Wakeman's</td></tr>
<tr><td>Cundell's</td></tr>
<tr><td>Jakeman's</td></tr>
<tr><td>Aileen's</td></tr>
<tr><td>Peachey's</td></tr>
<tr><td>Pertmeister's</td></tr>
<tr><td>Quinn's</td></tr>
<tr><td>Lund's</td></tr>
<tr><td>Loki's</td></tr>
<tr><td>Bachelors'</td></tr>
<tr><td>Wayland's</td></tr>
<tr><td>Rich's</td></tr>
<tr><td>Trinian's</td></tr>
<tr><td>Cobblers'</td></tr>
<tr><td>Theobald's</td></tr>
<tr><td>Moore's</td></tr>
<tr><td>Brannock's</td></tr>
<tr><td>Sturt's</td></tr>
<tr><td>Straker's</td></tr>
<tr><td>Siward's</td></tr>
<tr><td>Bart's</td></tr>
<tr><td>Poet's</td></tr>
<tr><td>Cubs'</td></tr>
<tr><td>Deadman's</td></tr>
<tr><td>Daw's</td></tr>
<tr><td>Majesty's</td></tr>
<tr><td>Bevan's</td></tr>
<tr><td>Mervyn's</td></tr>
<tr><td>Quentin's</td></tr>
<tr><td>Vicki's</td></tr>
<tr><td>Freeman's</td></tr>
<tr><td>Arno's</td></tr>
<tr><td>Jeffry's</td></tr>
<tr><td>Wormald's</td></tr>
<tr><td>Allwood's</td></tr>
<tr><td>Wolstan's</td></tr>
<tr><td>Wistan's</td></tr>
<tr><td>Clerk's</td></tr>
<tr><td>Bryant's</td></tr>
<tr><td>Ethelfleda's</td></tr>
<tr><td>Arkell's</td></tr>
<tr><td>Lou's</td></tr>
<tr><td>Pratt's</td></tr>
<tr><td>James'</td></tr>
<tr><td>Skinner's</td></tr>
<tr><td>O'Coy's</td></tr>
<tr><td>Enoch's</td></tr>
<tr><td>Tyndall's</td></tr>
<tr><td>Pero's</td></tr>
<tr><td>Farmer's</td></tr>
<tr><td>Tiebout's</td></tr>
<tr><td>Adventurers'</td></tr>
<tr><td>Counter's</td></tr>
<tr><td>Hilliard's</td></tr>
<tr><td>Frosty's</td></tr>
<tr><td>Tony's</td></tr>
<tr><td>Pepper's</td></tr>
<tr><td>Zealanders'</td></tr>
<tr><td>Lambert's</td></tr>
<tr><td>Sutter's</td></tr>
<tr><td>Leisler's</td></tr>
<tr><td>Druid's</td></tr>
<tr><td>Swallows'</td></tr>
<tr><td>Truckie's</td></tr>
<tr><td>Lucas'</td></tr>
<tr><td>Mahon's</td></tr>
<tr><td>Jew's</td></tr>
<tr><td>Witches'</td></tr>
<tr><td>Sharp's</td></tr>
<tr><td>Frank's</td></tr>
<tr><td>Günther's</td></tr>
<tr><td>Salt's</td></tr>
<tr><td>Bate's</td></tr>
<tr><td>Highwayman's</td></tr>
<tr><td>Hock's</td></tr>
<tr><td>Ghouls'</td></tr>
<tr><td>Witch's</td></tr>
<tr><td>That's</td></tr>
<tr><td>Jester's</td></tr>
<tr><td>Winnard's</td></tr>
<tr><td>Organist's</td></tr>
<tr><td>Natterer's</td></tr>
</table></div>
<div class="list-head">Words appearing with and without apostrophe</div>
<div class="table"><table id="ap2" class="list">
<tr><td>Woods</td><td>Wood's</td></tr>
<tr><td>Wood</td><td>Wood's</td></tr>
<tr><td>Battle</td><td>Battle's</td></tr>
<tr><td>Peter</td><td>Peter's</td></tr>
<tr><td>Percy</td><td>Percy's</td></tr>
<tr><td>White</td><td>White's</td></tr>
<tr><td>Steve</td><td>Steve's</td></tr>
<tr><td>Simon</td><td>Simon's</td></tr>
<tr><td>Martins</td><td>Martin's</td></tr>
<tr><td>Martin</td><td>Martin's</td></tr>
<tr><td>Bartholomew</td><td>Bartholomew's</td></tr>
<tr><td>George</td><td>George's</td></tr>
<tr><td>Kings</td><td>King's</td></tr>
<tr><td>King</td><td>King's</td></tr>
<tr><td>Marys</td><td>Mary's</td></tr>
<tr><td>Mary</td><td>Mary's</td></tr>
<tr><td>What</td><td>What's</td></tr>
<tr><td>Margarets</td><td>Margarets's</td><td>Margaret's</td></tr>
<tr><td>Hilda</td><td>Hilda's</td></tr>
<tr><td>Dunstan</td><td>Dunstan's</td></tr>
<tr><td>Its</td><td>It's</td></tr>
<tr><td>It</td><td>It's</td></tr>
<tr><td>Bridges</td><td>Bridge's</td></tr>
<tr><td>Bridge</td><td>Bridge's</td></tr>
<tr><td>Andrews</td><td>Andrew's</td></tr>
<tr><td>Andrew</td><td>Andrew's</td></tr>
<tr><td>Nightlayers</td><td>Nightlayer's</td></tr>
<tr><td>Benedict</td><td>Benedict's</td></tr>
<tr><td>Stedman</td><td>Stedman's</td></tr>
<tr><td>Wolf</td><td>Wolf's</td></tr>
<tr><td>Waller's</td><td>Wallers'</td></tr>
<tr><td>Waller</td><td>Waller's</td></tr>
<tr><td>Davids</td><td>David's</td></tr>
<tr><td>David</td><td>David's</td></tr>
<tr><td>Hugh</td><td>Hugh's</td></tr>
<tr><td>Offa</td><td>Offa's</td></tr>
<tr><td>Years</td><td>Year's</td></tr>
<tr><td>Year</td><td>Year's</td></tr>
<tr><td>Betty</td><td>Betty's</td></tr>
<tr><td>Queens</td><td>Queen's</td><td>Queens'</td><td>Queens'</td></tr>
<tr><td>Queen</td><td>Queen's</td></tr>
<tr><td>Dodd</td><td>Dodd's</td></tr>
<tr><td>John</td><td>John's</td></tr>
<tr><td>Baldrick</td><td>Baldrick's</td></tr>
<tr><td>Earls</td><td>Earl's</td></tr>
<tr><td>Earl</td><td>Earl's</td></tr>
<tr><td>Judith</td><td>Judith's</td></tr>
<tr><td>Duke</td><td>Duke's</td></tr>
<tr><td>Barham</td><td>Barham's</td></tr>
<tr><td>Benets</td><td>Benet's</td><td>Bene't's</td></tr>
<tr><td>Benet</td><td>Benet's</td></tr>
<tr><td>Jasper</td><td>Jasper's</td></tr>
<tr><td>Nigel</td><td>Nigel's</td></tr>
<tr><td>Lloyd</td><td>Lloyd's</td></tr>
<tr><td>Colley</td><td>Colley's</td></tr>
<tr><td>Trystan</td><td>Trystan's</td></tr>
<tr><td>Amy</td><td>Amy's</td></tr>
<tr><td>Who</td><td>Who's</td></tr>
<tr><td>Bishops</td><td>Bishops'</td><td>Bishop's</td></tr>
<tr><td>Bishop's</td><td>Bishops'</td></tr>
<tr><td>Chads</td><td>Chad's</td></tr>
<tr><td>Chad</td><td>Chad's</td></tr>
<tr><td>Barbara</td><td>Barbara's</td></tr>
<tr><td>Drake</td><td>Drake's</td></tr>
<tr><td>Youths</td><td>Youths'</td></tr>
<tr><td>Stuart</td><td>Stuart's</td></tr>
<tr><td>Ringers</td><td>Ringers'</td></tr>
<tr><td>Lesley</td><td>Lesley's</td></tr>
<tr><td>Michaels</td><td>Michael's</td></tr>
<tr><td>Michael</td><td>Michael's</td></tr>
<tr><td>Stone</td><td>'Stone</td></tr>
<tr><td>Rosemary</td><td>Rosemary's</td></tr>
<tr><td>it</td><td>it's</td></tr>
<tr><td>Norman</td><td>Norman's</td></tr>
<tr><td>Tom</td><td>Tom's</td></tr>
<tr><td>Anne</td><td>Anne's</td></tr>
<tr><td>French</td><td>French's</td></tr>
<tr><td>Halley</td><td>Halley's</td></tr>
<tr><td>Cats</td><td>Cat's</td></tr>
<tr><td>Cat</td><td>Cat's</td></tr>
<tr><td>Caroline</td><td>Caroline's</td></tr>
<tr><td>Hampton</td><td>Hampton's</td></tr>
<tr><td>Marks</td><td>Mark's</td></tr>
<tr><td>Mark</td><td>Mark's</td></tr>
<tr><td>Doctors</td><td>Doctor's</td></tr>
<tr><td>Doctor</td><td>Doctor's</td></tr>
<tr><td>Pauls</td><td>Paul's</td></tr>
<tr><td>Paul</td><td>Paul's</td></tr>
<tr><td>Lets</td><td>Let's</td></tr>
<tr><td>Let</td><td>Let's</td></tr>
<tr><td>Adams</td><td>Adam's</td></tr>
<tr><td>Adam</td><td>Adam's</td></tr>
<tr><td>Laura</td><td>Laura's</td></tr>
<tr><td>Night</td><td>Night's</td></tr>
<tr><td>Scholars</td><td>Scholars'</td></tr>
<tr><td>Rodney</td><td>Rodney's</td></tr>
<tr><td>Nelson</td><td>Nelson's</td></tr>
<tr><td>Arnold</td><td>Arnold's</td></tr>
<tr><td>Ralph</td><td>Ralph's</td></tr>
<tr><td>Hell</td><td>Hell's</td></tr>
<tr><td>Basil</td><td>Basil's</td></tr>
<tr><td>Rule</td><td>Rule's</td></tr>
<tr><td>Williams</td><td>William's</td></tr>
<tr><td>William</td><td>William's</td></tr>
<tr><td>Halloween</td><td>Hallowe'en</td></tr>
<tr><td>Ann</td><td>Ann's</td></tr>
<tr><td>Brian</td><td>Brian's</td><td>Brians'</td></tr>
<tr><td>Cant</td><td>Can't</td></tr>
<tr><td>Priors</td><td>Prior's</td></tr>
<tr><td>Prior</td><td>Prior's</td></tr>
<tr><td>Regent</td><td>Regent's</td></tr>
<tr><td>James</td><td>James's</td><td>James'</td></tr>
<tr><td>Nicholas</td><td>Nicholas'</td></tr>
<tr><td>Ruth</td><td>Ruth's</td></tr>
<tr><td>Dog</td><td>Dog's</td></tr>
<tr><td>Fools</td><td>Fool's</td><td>Fools'</td><td>Fools'</td></tr>
<tr><td>Elf</td><td>'Elf</td></tr>
<tr><td>Richard</td><td>Richard's</td></tr>
<tr><td>Thomas</td><td>Thomas's</td></tr>
<tr><td>Patrick</td><td>Patrick's</td></tr>
<tr><td>Hartley</td><td>Hartley's</td></tr>
<tr><td>Louise</td><td>Louise's</td></tr>
<tr><td>Alan</td><td>Alan's</td></tr>
<tr><td>Owens</td><td>Owen's</td></tr>
<tr><td>Owen</td><td>Owen's</td></tr>
<tr><td>Marie</td><td>Marie's</td></tr>
<tr><td>Harris</td><td>Harris's</td></tr>
<tr><td>Bucklebury</td><td>Bucklebury's</td></tr>
<tr><td>Allan</td><td>Allan's</td></tr>
<tr><td>Quinns</td><td>Quinn's</td></tr>
<tr><td>Midsummer</td><td>Midsummer's</td></tr>
<tr><td>Catharine</td><td>Catharine's</td></tr>
<tr><td>Woman</td><td>Woman's</td></tr>
<tr><td>Toby</td><td>Toby's</td></tr>
<tr><td>Jenny</td><td>Jenny's</td></tr>
<tr><td>Chandlers</td><td>Chandler's</td></tr>
<tr><td>Chandler</td><td>Chandler's</td></tr>
<tr><td>Valentine</td><td>Valentine's</td></tr>
<tr><td>Christ</td><td>Christ's</td></tr>
<tr><td>Peacock</td><td>Peacock's</td></tr>
<tr><td>Philip</td><td>Philip's</td></tr>
<tr><td>Leonards</td><td>Leonard's</td></tr>
<tr><td>Leonard</td><td>Leonard's</td></tr>
<tr><td>Yeo</td><td>Yeo's</td></tr>
<tr><td>Margaret</td><td>Margaret's</td></tr>
<tr><td>Marley</td><td>Marley's</td></tr>
<tr><td>Luke</td><td>Luke's</td></tr>
<tr><td>Canons</td><td>Canon's</td></tr>
<tr><td>Canon</td><td>Canon's</td></tr>
<tr><td>Roberts</td><td>Robert's</td></tr>
<tr><td>Robert</td><td>Robert's</td></tr>
<tr><td>Poets</td><td>Poet's</td><td>Poets'</td><td>Poets'</td></tr>
<tr><td>Jumper</td><td>Jumper's</td></tr>
<tr><td>Jude</td><td>Jude's</td></tr>
<tr><td>Walter</td><td>Walter's</td></tr>
<tr><td>Crispin</td><td>Crispin's</td></tr>
<tr><td>Cannings</td><td>Canning's</td></tr>
<tr><td>Canning</td><td>Canning's</td></tr>
<tr><td>Jack</td><td>Jack's</td></tr>
<tr><td>Bishop</td><td>Bishop's</td></tr>
<tr><td>Deadmans</td><td>Deadman's</td></tr>
<tr><td>Joys</td><td>Joy's</td></tr>
<tr><td>Joy</td><td>Joy's</td></tr>
<tr><td>Stephen</td><td>Stephen's</td></tr>
<tr><td>Don</td><td>Don's</td></tr>
<tr><td>Jacobs</td><td>Jacob's</td></tr>
<tr><td>Jacob</td><td>Jacob's</td></tr>
<tr><td>Captain</td><td>Captain's</td></tr>
<tr><td>Ian</td><td>Ian's</td></tr>
<tr><td>Doris</td><td>Doris's</td></tr>
<tr><td>Hunters</td><td>Hunter's</td></tr>
<tr><td>Hunter</td><td>Hunter's</td></tr>
<tr><td>Arnos</td><td>Arno's</td></tr>
<tr><td>Judge</td><td>Judge's</td></tr>
<tr><td>Taylor</td><td>Taylor's</td></tr>
<tr><td>Craven</td><td>Craven's</td></tr>
<tr><td>Snake</td><td>Snake's</td></tr>
<tr><td>Anna</td><td>Anna's</td></tr>
<tr><td>Where</td><td>Where's</td></tr>
<tr><td>Wath</td><td>Wath's</td></tr>
<tr><td>God</td><td>God's</td></tr>
<tr><td>Monarch</td><td>Monarch's</td></tr>
<tr><td>Roger</td><td>Roger's</td></tr>
<tr><td>Harry</td><td>Harry's</td></tr>
<tr><td>Saviour</td><td>Saviour's</td></tr>
<tr><td>Jolly</td><td>Jolly's</td></tr>
<tr><td>Devils</td><td>Devil's</td></tr>
<tr><td>Devil</td><td>Devil's</td></tr>
<tr><td>Wilfrid</td><td>Wilfrid's</td></tr>
<tr><td>Elgood</td><td>Elgood's</td></tr>
<tr><td>Morland</td><td>Morland's</td></tr>
<tr><td>Johnson</td><td>Johnson's</td></tr>
<tr><td>Farmers</td><td>Farmer's</td></tr>
<tr><td>Jennie</td><td>Jennie's</td></tr>
<tr><td>Clifford</td><td>Clifford's</td></tr>
<tr><td>a</td><td>a'</td></tr>
<tr><td>A</td><td>A'</td></tr>
<tr><td>Edmund</td><td>Edmund's</td></tr>
<tr><td>Hood</td><td>Hood's</td></tr>
<tr><td>Wendy</td><td>Wendy's</td></tr>
<tr><td>Tyler</td><td>Tyler's</td></tr>
<tr><td>Bradford</td><td>Bradford's</td></tr>
<tr><td>Man</td><td>Man's</td></tr>
<tr><td>Parsons</td><td>Parson's</td></tr>
<tr><td>Parson</td><td>Parson's</td></tr>
<tr><td>Father</td><td>Father's</td></tr>
<tr><td>Dragon</td><td>Dragon's</td></tr>
<tr><td>Wills</td><td>Will's</td></tr>
<tr><td>Will</td><td>Will's</td></tr>
<tr><td>Elgar</td><td>Elgar's</td></tr>
<tr><td>Cook</td><td>Cook's</td></tr>
<tr><td>Bobs</td><td>Bob's</td></tr>
<tr><td>Bob</td><td>Bob's</td></tr>
<tr><td>Joan</td><td>Joan's</td></tr>
<tr><td>Boar</td><td>Boar's</td></tr>
<tr><td>Peppers</td><td>Pepper's</td></tr>
<tr><td>Coney</td><td>Coney's</td></tr>
<tr><td>Mother</td><td>Mother's</td></tr>
<tr><td>n</td><td>'n'</td></tr>
<tr><td>Monster</td><td>Monster's</td></tr>
<tr><td>Druids</td><td>Druid's</td></tr>
<tr><td>Lucas</td><td>Lucas'</td></tr>
<tr><td>Advent</td><td>Advent's</td></tr>
<tr><td>Robin</td><td>Robin's</td></tr>
<tr><td>Adrian</td><td>Adrian's</td></tr>
<tr><td>Pink</td><td>Pink's</td></tr>
<tr><td>Newbold</td><td>Newbold's</td></tr>
<tr><td>Cuthbert</td><td>Cuthbert's</td></tr>
<tr><td>Bates</td><td>Bate's</td></tr>
<tr><td>Kirk</td><td>Kirk's</td></tr>
<tr><td>Monkey</td><td>Monkey's</td></tr>
<tr><td>Diana</td><td>Diana's</td></tr>
<tr><td>Granny</td><td>Granny's</td></tr>
<tr><td>Jesters</td><td>Jester's</td></tr>
<tr><td>Hills</td><td>Hill's</td></tr>
<tr><td>Hill</td><td>Hill's</td></tr>
<tr><td>Heather</td><td>Heather's</td></tr>
<tr><td>Real</td><td>Real's</td></tr>
</table></div>
<div class="list-head">Words also appearing with an 's' added to the end</div>
<div class="table"><table id="endS" class="list">
<tr><td>Station</td></tr>
<tr><td>Water</td></tr>
<tr><td>Hill</td></tr>
<tr><td>Let</td></tr>
<tr><td>Height</td></tr>
<tr><td>Saint</td></tr>
<tr><td>Hallow</td></tr>
<tr><td>Chip</td></tr>
<tr><td>Gidding</td></tr>
<tr><td>Daniel</td></tr>
<tr><td>Side</td></tr>
<tr><td>Bishop</td></tr>
<tr><td>Stoke</td></tr>
<tr><td>Wall</td></tr>
<tr><td>Cape</td></tr>
<tr><td>Canning</td></tr>
<tr><td>Zeal</td></tr>
<tr><td>Keyne</td></tr>
<tr><td>Well</td></tr>
<tr><td>Oak</td></tr>
<tr><td>Edward</td></tr>
<tr><td>Mr</td></tr>
<tr><td>Andrew</td></tr>
<tr><td>Mary</td></tr>
<tr><td>Toft</td></tr>
<tr><td>Benet</td></tr>
<tr><td>Prior</td></tr>
<tr><td>Down</td></tr>
<tr><td>Stob</td></tr>
<tr><td>Monk</td></tr>
<tr><td>Jacob</td></tr>
<tr><td>Peck</td></tr>
<tr><td>Garden</td></tr>
<tr><td>Shield</td></tr>
<tr><td>Webb</td></tr>
<tr><td>Hunt</td></tr>
<tr><td>Helen</td></tr>
<tr><td>King</td></tr>
<tr><td>Margaret</td></tr>
<tr><td>Hole</td></tr>
<tr><td>David</td></tr>
<tr><td>Spring</td></tr>
<tr><td>Work</td></tr>
<tr><td>Salter</td></tr>
<tr><td>Salem</td></tr>
<tr><td>Tower</td></tr>
<tr><td>Abbot</td></tr>
<tr><td>Devil</td></tr>
<tr><td>German</td></tr>
<tr><td>Bubble</td></tr>
<tr><td>Ring</td></tr>
<tr><td>Cottage</td></tr>
<tr><td>Lapwing</td></tr>
<tr><td>Pig</td></tr>
<tr><td>Olympian</td></tr>
<tr><td>Haye</td></tr>
<tr><td>Explorer</td></tr>
<tr><td>College</td></tr>
<tr><td>Cray</td></tr>
<tr><td>iPhone</td></tr>
<tr><td>Mark</td></tr>
<tr><td>Robert</td></tr>
<tr><td>Twist</td></tr>
<tr><td>Butler</td></tr>
<tr><td>Michael</td></tr>
<tr><td>Rowland</td></tr>
<tr><td>My</td></tr>
<tr><td>Holme</td></tr>
<tr><td>Strike</td></tr>
<tr><td>Banana</td></tr>
<tr><td>River</td></tr>
<tr><td>Bell</td></tr>
<tr><td>Barn</td></tr>
<tr><td>Mis</td></tr>
<tr><td>Valiant</td></tr>
<tr><td>Skipper</td></tr>
<tr><td>Young</td></tr>
<tr><td>Alban</td></tr>
<tr><td>Shirt</td></tr>
<tr><td>Moor</td></tr>
<tr><td>William</td></tr>
<tr><td>Earl</td></tr>
<tr><td>Matthew</td></tr>
<tr><td>Sheep</td></tr>
<tr><td>Scholar</td></tr>
<tr><td>Baker</td></tr>
<tr><td>Flat</td></tr>
<tr><td>First</td></tr>
<tr><td>Can</td></tr>
<tr><td>Rock</td></tr>
<tr><td>65</td></tr>
<tr><td>Kelly</td></tr>
<tr><td>Glas</td></tr>
<tr><td>Lake</td></tr>
<tr><td>Beacon</td></tr>
<tr><td>Foster</td></tr>
<tr><td>Lock</td></tr>
<tr><td>Crow</td></tr>
<tr><td>Road</td></tr>
<tr><td>Year</td></tr>
<tr><td>Green</td></tr>
<tr><td>Paw</td></tr>
<tr><td>Paterson</td></tr>
<tr><td>Paul</td></tr>
<tr><td>Angel</td></tr>
<tr><td>Canon</td></tr>
<tr><td>Sister</td></tr>
<tr><td>Baron</td></tr>
<tr><td>Terminal</td></tr>
<tr><td>Northfield</td></tr>
<tr><td>Bride</td></tr>
<tr><td>Charlton</td></tr>
<tr><td>Owen</td></tr>
<tr><td>Y</td></tr>
<tr><td>Lord</td></tr>
<tr><td>Waterley</td></tr>
<tr><td>Cliff</td></tr>
<tr><td>Bluebell</td></tr>
<tr><td>Elm</td></tr>
<tr><td>Link</td></tr>
<tr><td>Joy</td></tr>
<tr><td>Willow</td></tr>
<tr><td>Mill</td></tr>
<tr><td>Abba</td></tr>
<tr><td>Fishpond</td></tr>
<tr><td>Field</td></tr>
<tr><td>Key</td></tr>
<tr><td>Will</td></tr>
<tr><td>Chad</td></tr>
<tr><td>Eve</td></tr>
<tr><td>Space</td></tr>
<tr><td>Horse</td></tr>
<tr><td>Pickle</td></tr>
<tr><td>Gray</td></tr>
<tr><td>Chandler</td></tr>
<tr><td>Brooke</td></tr>
<tr><td>Turner</td></tr>
<tr><td>Wingate</td></tr>
<tr><td>Leg</td></tr>
<tr><td>Mermaid</td></tr>
<tr><td>Leonard</td></tr>
<tr><td>Codger</td></tr>
<tr><td>Irlam</td></tr>
<tr><td>Virgin</td></tr>
<tr><td>Abbott</td></tr>
<tr><td>Magi</td></tr>
<tr><td>Aldwyn</td></tr>
<tr><td>Cat</td></tr>
<tr><td>Caeli</td></tr>
<tr><td>It</td></tr>
<tr><td>Ive</td></tr>
<tr><td>Martin</td></tr>
<tr><td>Moorhouse</td></tr>
<tr><td>Gam</td></tr>
<tr><td>Abu</td></tr>
<tr><td>Sullivan</td></tr>
<tr><td>Vine</td></tr>
<tr><td>Lee</td></tr>
<tr><td>Island</td></tr>
<tr><td>Ashe</td></tr>
<tr><td>Miller</td></tr>
<tr><td>Southfield</td></tr>
<tr><td>Horton</td></tr>
<tr><td>Cooper</td></tr>
<tr><td>Millhouse</td></tr>
<tr><td>In</td></tr>
<tr><td>Knight</td></tr>
<tr><td>Hunter</td></tr>
<tr><td>Tun</td></tr>
<tr><td>Wood</td></tr>
<tr><td>Bob</td></tr>
<tr><td>Cairn</td></tr>
<tr><td>Fagan</td></tr>
<tr><td>Mountain</td></tr>
<tr><td>Isle</td></tr>
<tr><td>Gold</td></tr>
<tr><td>Royal</td></tr>
<tr><td>Hawk</td></tr>
<tr><td>Barker</td></tr>
<tr><td>Maiden</td></tr>
<tr><td>Hale</td></tr>
<tr><td>Iron</td></tr>
<tr><td>Mai</td></tr>
<tr><td>Queen</td></tr>
<tr><td>Chapelfield</td></tr>
<tr><td>Ram</td></tr>
<tr><td>Heart</td></tr>
<tr><td>Stick</td></tr>
<tr><td>Gale</td></tr>
<tr><td>Soul</td></tr>
<tr><td>Deacon</td></tr>
<tr><td>Hall</td></tr>
<tr><td>Edge</td></tr>
<tr><td>Royd</td></tr>
<tr><td>Ley</td></tr>
<tr><td>Mile</td></tr>
<tr><td>Rat</td></tr>
<tr><td>Stone</td></tr>
<tr><td>Week</td></tr>
<tr><td>Roo</td></tr>
<tr><td>Cary</td></tr>
<tr><td>Ale</td></tr>
<tr><td>Star</td></tr>
<tr><td>Martyr</td></tr>
<tr><td>Morrell</td></tr>
<tr><td>Jubilee</td></tr>
<tr><td>Bridge</td></tr>
<tr><td>Bulwark</td></tr>
<tr><td>Golding</td></tr>
<tr><td>Chiltern</td></tr>
<tr><td>Fisher</td></tr>
<tr><td>Bank</td></tr>
<tr><td>Bunker</td></tr>
<tr><td>Flore</td></tr>
<tr><td>Adam</td></tr>
<tr><td>Second</td></tr>
<tr><td>Camp</td></tr>
<tr><td>Wold</td></tr>
<tr><td>Parson</td></tr>
<tr><td>Shepherd</td></tr>
<tr><td>Winter</td></tr>
<tr><td>France</td></tr>
<tr><td>Blue</td></tr>
<tr><td>Yate</td></tr>
<tr><td>Grove</td></tr>
<tr><td>Phillip</td></tr>
<tr><td>Light</td></tr>
<tr><td>Park</td></tr>
<tr><td>Westfield</td></tr>
<tr><td>Sandfield</td></tr>
<tr><td>Bear</td></tr>
<tr><td>Swan</td></tr>
<tr><td>Dove</td></tr>
<tr><td>Maid</td></tr>
<tr><td>Hen</td></tr>
<tr><td>Piper</td></tr>
<tr><td>Bird</td></tr>
<tr><td>Ta</td></tr>
<tr><td>Woodhouse</td></tr>
<tr><td>Pirate</td></tr>
<tr><td>Gurney</td></tr>
<tr><td>Like</td></tr>
<tr><td>Metal</td></tr>
<tr><td>a</td></tr>
<tr><td>Village</td></tr>
<tr><td>Pond</td></tr>
<tr><td>Doctor</td></tr>
<tr><td>Harvey</td></tr>
<tr><td>Clear</td></tr>
<tr><td>Pea</td></tr>
<tr><td>Ranger</td></tr>
<tr><td>Harrison</td></tr>
<tr><td>Eye</td></tr>
<tr><td>Echo</td></tr>
<tr><td>Guard</td></tr>
<tr><td>Sallie</td></tr>
<tr><td>Gibbon</td></tr>
<tr><td>Cowslip</td></tr>
<tr><td>Da</td></tr>
<tr><td>Walk</td></tr>
<tr><td>I</td></tr>
<tr><td>Rabbit</td></tr>
<tr><td>Rose</td></tr>
<tr><td>Coate</td></tr>
<tr><td>Remember</td></tr>
<tr><td>Outwood</td></tr>
<tr><td>Ant</td></tr>
</table></div>
<div class="list-head">Words appearing with varying upper/lowercase configurations</div>
<div class="table"><table id="capitals" class="list">
<tr><td>A</td><td>a</td></tr>
<tr><td>for</td><td>For</td></tr>
<tr><td>The</td><td>the</td></tr>
<tr><td>Single</td><td>single</td></tr>
<tr><td>by</td><td>By</td></tr>
<tr><td>and</td><td>And</td></tr>
<tr><td>of</td><td>Of</td></tr>
<tr><td>Over</td><td>over</td></tr>
<tr><td>Call</td><td>call</td></tr>
<tr><td>It</td><td>it</td></tr>
<tr><td>What</td><td>what</td></tr>
<tr><td>you</td><td>You</td></tr>
<tr><td>one</td><td>One</td></tr>
<tr><td>in</td><td>In</td></tr>
<tr><td>To</td><td>to</td></tr>
<tr><td>hundred</td><td>Hundred</td></tr>
<tr><td>weight</td><td>Weight</td></tr>
<tr><td>Price</td><td>price</td></tr>
<tr><td>le</td><td>Le</td></tr>
<tr><td>my</td><td>My</td></tr>
<tr><td>under</td><td>Under</td></tr>
<tr><td>Super</td><td>super</td></tr>
<tr><td>or</td><td>Or</td></tr>
<tr><td>It's</td><td>it's</td></tr>
<tr><td>Go</td><td>go</td></tr>
<tr><td>next</td><td>Next</td></tr>
<tr><td>time</td><td>Time</td></tr>
<tr><td>y</td><td>Y</td></tr>
<tr><td>at</td><td>At</td></tr>
<tr><td>Don't</td><td>don't</td></tr>
<tr><td>Mind</td><td>mind</td></tr>
<tr><td>Man</td><td>man</td></tr>
<tr><td>Ring</td><td>ring</td></tr>
<tr><td>ANZAC</td><td>Anzac</td></tr>
<tr><td>no</td><td>No</td></tr>
<tr><td>Forget-me-not</td><td>Forget-me-Not</td></tr>
<tr><td>An</td><td>an</td></tr>
<tr><td>do</td><td>Do</td></tr>
<tr><td>nam</td><td>Nam</td></tr>
<tr><td>na</td><td>Na</td></tr>
<tr><td>nan</td><td>Nan</td></tr>
<tr><td>da</td><td>Da</td></tr>
<tr><td>De</td><td>de</td></tr>
<tr><td>This</td><td>this</td></tr>
<tr><td>is</td><td>Is</td></tr>
<tr><td>Du</td><td>du</td></tr>
<tr><td>got</td><td>Got</td></tr>
<tr><td>on</td><td>On</td></tr>
<tr><td>Complete</td><td>complete</td></tr>
<tr><td>will</td><td>Will</td></tr>
<tr><td>his</td><td>His</td></tr>
<tr><td>We</td><td>we</td></tr>
<tr><td>Wind</td><td>wind</td></tr>
<tr><td>D'Abitot</td><td>d'Abitot</td></tr>
<tr><td>Not</td><td>not</td></tr>
<tr><td>believe</td><td>Believe</td></tr>
<tr><td>ULM</td><td>Ulm</td></tr>
<tr><td>FitzRoy</td><td>Fitzroy</td></tr>
<tr><td>Ganj</td><td>ganj</td></tr>
<tr><td>D'Arcy</td><td>d'Arcy</td></tr>
<tr><td>La</td><td>la</td></tr>
<tr><td>front</td><td>Front</td></tr>
<tr><td>going</td><td>Going</td></tr>
<tr><td>a'</td><td>A'</td></tr>
<tr><td>storm</td><td>Storm</td></tr>
<tr><td>Van</td><td>van</td></tr>
</table></div>
<div class="list-head">Punctuation</div>
<div class="table"><table id="punctuation" class="list">
<tr><td>'</td></tr>
<tr><td>-</td></tr>
<tr><td>"</td></tr>
<tr><td>(</td></tr>
<tr><td>)</td></tr>
<tr><td>&</td></tr>
<tr><td>É</td></tr>
<tr><td>.</td></tr>
<tr><td>é</td></tr>
<tr><td>ä</td></tr>
<tr><td>?</td></tr>
<tr><td>!</td></tr>
<tr><td>,</td></tr>
<tr><td>/</td></tr>
<tr><td>ṟ</td></tr>
<tr><td>û</td></tr>
<tr><td>ê</td></tr>
<tr><td>ā</td></tr>
<tr><td>ů</td></tr>
<tr><td>á</td></tr>
<tr><td>č</td></tr>
<tr><td>ø</td></tr>
<tr><td>å</td></tr>
<tr><td>₃</td></tr>
<tr><td>₁</td></tr>
<tr><td>è</td></tr>
<tr><td>ë</td></tr>
<tr><td>ö</td></tr>
<tr><td>£</td></tr>
<tr><td>=</td></tr>
<tr><td>²</td></tr>
<tr><td>ñ</td></tr>
<tr><td>Á</td></tr>
<tr><td>ú</td></tr>
<tr><td>™</td></tr>
<tr><td>ó</td></tr>
<tr><td>;</td></tr>
<tr><td>ü</td></tr>
</table></div>
    </div>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
  <script src="/worddata.js"></script>
  <script src="/sortable.js"></script>
  </body>
</html>